*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
body {
  background-color: #333;
  color: #fff;
  text-align: left;
  font-family: helvetica;
}

div.container {
  margin-right: auto;
  margin-left: auto;
}

/* top part */
header {
  background-color: #333;
  padding: 0 20px;
}

.header_heading {
  float: left;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.1
}

ul.header_nav {
  list-style-type: none;
  padding: 20px;
  margin: 0px;
  float: right;
}

ul.header_nav > li {
  display: inline-block;
}

ul.header_nav > li:after {
  content: " ";
  display: block;
}

ul.header_nav > li > a {
  text-decoration: none;
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  /*padding: 10px 0;*/
  padding: 10px 15px;
  display: block;
}

ul.header_nav > li > a:hover,
ul.header_nav > li > a:focus  {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}

/* main content */

div.main_content {
  padding: 0 20px;
}

div.main_content > .main_content_heading {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
}

div.main_content > p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 200;
}

div.main_content > p > a {
  color: #fff;
  text-decoration: none;
}

div.main_content > p > a:hover {
  text-decoration: underline;
}

.btn {
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border-color: #ccc;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  text-decoration: none;
}

/* dynamic sizing */
@media (max-width:767px) {
  .header_heading{
    float: none;
  }
  ul.header_nav {
    float: left;
    padding: 0;
    margin: 0 -10px;
  }
/*  ul.header_nav > li > a {
    padding: 0;
  }*/
  div.main_content {
    float: left;
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  header {
    position: fixed;
    top: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
    float: right;
  }
  /* Start the vertical centering */
  div.main_content {
    vertical-align: middle;
  }
  /* set size of content p */
  div.main_content > p {
    font-size: 20px;
  }
  /* Handle the widths */
  header,
  footer,
  div.container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
  /* scroll contents properly */
  div.main_content {
      margin: 75px 0;
  }
}

@media (min-width: 992px) {
  header,
  footer,
  div.container {
    width: 700px;
  }
}






