*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
body {
  background-color: #eee;
  color: #333;
  text-align: left;
  font-size: 22px;
  font-family: 'Esteban', serif;
}

div.container {
  margin-right: auto;
  margin-left: auto;
}

/* top part */
header {
  background-color: #eee;
  padding: 10px 20px;
}

.header_heading {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  float: left;
}
/* main content */

div.main_content {
  padding: 0 20px 30px 20px;
  font-size: 20px;
  float: left;
}

div.main_content > .main_content_heading {
  margin-top: 50px;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  /*font-weight: 300;*/
}

div.main_content {
  line-height: 1.2;
}

div.main_content > ul > li {
  margin-bottom: 10px;
}

div.main_content > p > a {
  color: #333;
  text-decoration: none;
}

div.main_content > p > a:hover {
  text-decoration: underline;
}

.job_title {
  margin-top: 30px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.btn {
  width: 200px;
  padding: 10px 40px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  text-shadow: none;
  background-color: #333;
  border: 1px solid #333;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border-color: #ccc;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  text-decoration: none;
  float: left;
}

.btn-outline {
  width: 200px;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-shadow: none;
  /*background-color: #333;*/
  border: 1px solid #333;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border-color: #ccc;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  text-decoration: none;
  float: left;
}

/* footer */
footer {
  float: right;
  padding: 0 20px;
}
footer:before {
  content: " ";
  display: block;
}

/* dynamic sizing */
@media (max-width:767px) {
  .header_heading{
    float: none;
  }
  ul.header_nav {
    float: left;
    padding: 0;
    margin: 0 -10px;
  }
  div.main_content {
    float: left;
  }
  .btn {
    width: 100%;
    display: block;
  }
  .btn-outline {
    width: 100%;
    display: block;
  }
  footer {
    bottom: 0;
  }
}

@media (min-width: 750px) {
  header,
  footer,
  div.container {
    width: 750px;
  }
}






